
.input
    border: 1px solid #555
    border-color: #rgba(219, 35, 35, 0.698)
    width: 500px
    height: 50px
    border-radius: 5px
    margin: 10px
    font-size: 16px
    font-weight: 600
    padding-left: 20px
    
    
.invalid

.valid
    border-color: #rgba(35, 219, 66, 0.698)

.errorMsg
    background-color: rgba(168, 37, 37, 0.698)
    color: white
